@model RopayDvd.Models.RopayUser

@{
    if(User.IsInRole("Manager"))
        ViewData["Title"] = "Edit User";
    else
        ViewData["Title"] = "Change Password";
}
<h4>@ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserNumber" />

            @if (User.IsInRole("Manager"))
            {
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    <input asp-for="UserType" class="form-control" />
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="UserName" />
                <input type="hidden" asp-for="UserType" />
            }
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

