@model RopayDvd.Models.Actor

@{
    ViewData["Title"] = "Edit Actor";
}

<h4>@ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActorNumber" />
            <div class="form-group">
                <label asp-for="ActorLastName" class="control-label"></label>
                <input asp-for="ActorLastName" class="form-control" />
                <span asp-validation-for="ActorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActorFirstName" class="control-label"></label>
                <input asp-for="ActorFirstName" class="form-control" />
                <span asp-validation-for="ActorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

