@model RopayDvd.Models.MembershipCategory

@{
    ViewData["Title"] = "Edit Membership Category";
}

<h4>@ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MembershipCategoryNumber" />
            <div class="form-group">
                <label asp-for="MembershipCategoryDescription" class="control-label"></label>
                <input asp-for="MembershipCategoryDescription" class="form-control" />
                <span asp-validation-for="MembershipCategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembershipCategoryTotalLoans" class="control-label"></label>
                <input asp-for="MembershipCategoryTotalLoans" class="form-control" />
                <span asp-validation-for="MembershipCategoryTotalLoans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

