@model RopayDvd.Models.Loan

@{
    ViewData["Title"] = "Edit Member Loan";
}

<h4>@ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LoanNumber" />
            <div class="form-group">
                <label asp-for="LoanTypeNumber" class="control-label"></label>
                <select asp-for="LoanTypeNumber" class="form-control" asp-items="ViewBag.LoanTypeNumber"></select>
                <span asp-validation-for="LoanTypeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyNumber" class="control-label"></label>
                <select asp-for="CopyNumber" class="form-control" asp-items="ViewBag.CopyNumber"></select>
                <span asp-validation-for="CopyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberNumber" class="control-label"></label>
                <select asp-for="MemberNumber" class="form-control" asp-items="ViewBag.MemberNumber"></select>
                <span asp-validation-for="MemberNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOut" class="control-label"></label>
                <input asp-for="DateOut" class="form-control" />
                <span asp-validation-for="DateOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDue" class="control-label"></label>
                <input asp-for="DateDue" class="form-control" />
                <span asp-validation-for="DateDue" class="text-danger"></span>
            </div>
            @if (Model.DateReturned != null)
            {
                <div class="form-group">
                    <label asp-for="DateReturned" class="control-label"></label>
                    <input asp-for="DateReturned" class="form-control" />
                    <span asp-validation-for="DateReturned" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

